{% extends "base.html" %}
{% block title %}Register{% endblock title %}
{% block content %}
    <section class="w-1/2 mx-auto my-8">
        {% comment %} show non field errors {% endcomment %}
        {% if form.non_field_errors %}
        <ul>
            {% for error in form.non_field_errors %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form  action="" method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form %}
                {% for field in form %}
                    <p>
                        <label for="{{field.id_for_label}}">{{field.label}}</label>
                        {{field}}
                    </p>
                    {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endfor %}

            {% endif %}
            <button class="bg-blue-500 text-white py-2 px-6 rounded-sm mt-3" type="submit">update Profile</button>
        </form>
    </section>
{% endblock content %}