{% extends "base.html" %}
{% block content %}
<section>
<form action="" method="POST">
  {% csrf_token %}
  {% if form %}
    {% for field in form %}
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>

      <input 
        type="{{ field.field.widget.input_type }}" 
        name="{{ field.name }}" 
        id="{{ field.id_for_label }}" 
        value="{{ field.value|default_if_none:'' }}"
        autocomplete="{{ field.field.widget.attrs.autocomplete|default:'off' }}"
        class="border-2 border-gray-300 w-full p-3 rounded-lg shadow-sm 
               focus:outline-none focus:border-rose-500 focus:ring-rose-500"
        placeholder="{{ field.field.widget.attrs.placeholder|default:field.label }}"
      >

      {% if field.errors %}
        <p class="text-red-500 text-sm mt-1">{{ field.errors.as_text }}</p>
      {% endif %}
    {% endfor %}
  {% endif %}
  <button type="submit" class="mt-4 bg-rose-500 text-white font-semibold py-2 px-4 rounded-lg shadow">
    Change Password
  </button>
</form>

</section>
{% endblock content %}