{% extends "base.html" %}
{% block title %}
{% block sub_title %}{% endblock sub_title %}
{% endblock title %}
{% block content %}
<section class="my-8">
    <div class="container px-5 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-5">
        {% comment %} total task {% endcomment %}
             <a href="{% url 'dashboard' %}">
                <div class="shadow-sm rounded p-5">
                    <span class=" text-gray-500">TOTAL TASK</span>
                    <div class="flex justify-between items-center">
                        <div>
                            <h3 class="text-4xl font-semibold py-2">{{counts.total}}</h3>
                            <span class="text-gray-500">11 last month</span>
                        </div>
                        <div class="p-2 rounded-full bg-blue-100">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-blue-600">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
                            </svg>
                        </div>
                    </div>
                </div>
            </a>
        {% comment %} COMPLETED TASK {% endcomment %}
            <a href="{% url 'dashboard' %}?type=completed">
                <div class="shadow-sm rounded p-5">
                    <span class=" text-gray-500">COMPLETED TASK</span>
                    <div class="flex justify-between items-center">
                        <div>
                            <h3 class="text-4xl font-semibold py-2">{{counts.completed}}</h3>
                            <span class="text-gray-500">11 last month</span>
                        </div>
                        <div class="p-2 rounded-full bg-sky-100">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-green-600">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>

                        </div>
                    </div>
                </div>
            </a>
            {% comment %} TASK IN PROGRESS {% endcomment %}
             <a href="{% url 'dashboard' %}?type=in-progress">
                <div class="shadow-sm rounded p-5">
                    <span class=" text-gray-500">TASK IN PROGRESS</span>
                    <div class="flex justify-between items-center">
                        <div>
                            <h3 class="text-4xl font-semibold py-2">{{counts.in_process}}</h3>
                            <span class="text-gray-500">11 last month</span>
                        </div>
                        <div class="p-2 rounded-full bg-purple-100">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-yellow-600">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </a>
            {% comment %} TOTAL TASK {% endcomment %}
             <a href="{% url 'dashboard' %}?type=pending">
                <div class="shadow-sm rounded p-5">
                    <span class=" text-gray-500">PENDING TASK</span>
                    <div class="flex justify-between items-center">
                        <div>
                            <h3 class="text-4xl font-semibold py-2">{{counts.pending}}</h3>
                            <span class="text-gray-500">11 last month</span>
                        </div>
                        <div class="p-2 rounded-full bg-purple-100">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-purple-600">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
                            </svg>
                        </div>
                    </div>
                </div>
            </a>
    </div>
    {% block tasks %}{% endblock tasks %}
</section>
{% endblock content %}