{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
    {% comment %} user: newuser100
    pass: sdf54#@sdfs {% endcomment %}
<section class="w-1/2 mx-auto my-8">
    {% if messages %}
        <div>
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% comment %} non field errors lists {% endcomment %}
     {% if form.non_field_errors %}
     <div class="non_fileds_errors">
         {% for error in form.non_field_errors %}
             <p>{{error}}</p>
         {% endfor %}
     </div>
     {% endif %}
    <form action="" method ="POST">
        {% csrf_token %}
        {% if form %}
            {% for field in form %}
               <div>
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p>{{error}}</p>
                    {% endfor %}
                {% endif %}
               </div>
                <p>
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {{field}}
                </p>
            {% endfor %}
        {% endif %}
        <button class="bg-blue-500 text-white py-2 px-6 rounded-sm mt-3">SING IN</button>
        <p><a href="{% url "password-reset" %}">Password reset?</a></p>
    </form>
</section>
{% endblock content %}